<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>
	<appSettings>
		<add key="AutoBarcodeRecipe" value="true" />
		<add key="HoldSmemaBarcode" value="true" />
		<add key="LogFilePath" value="C:\Heller Industries\AISIN Line Comm\Logs" />
		<add key="PLCType" value="Mitsubishi" />
		<add key="PLCStation" value="6" />
		<add key="Lane1Rail" value="Rail1" />
		<add key="Lane2Rail" value="Rail2" />
		<add key="UpstreamPLCTag" value="RE1inAMCV1" />
		<add key="DownstreamPLCTag" value="RE1outSTCV1" />
		<add key="TagIP" value="192.168.241.9" />
		<add key="DefaultRail" value="0" />
		<add key="RailLogging" value="False" />
	</appSettings>
</configuration>
